//Breakpoints
$smallDevices: 576px; // Small devices (landscape phones, 576px and up)
$mediumDevices: 768px; // Medium devices (tablets, 768px and up)
$largeDevices: 992px; // Large devices (desktops, 992px and up)
$x-lagerDevices: 1200px; // X-Large devices (large desktops, 1200px and up)
$xx-lagerDevices: 1400px; // XX-Large devices (larger desktops, 1400px and up)