@import "colors";
@import "breakpoints";

.btn-success {
    background-color: $primary-1 !important;
}

.btn-deko {
    margin-left: 1rem;
}

.header {
    height: 90vh; // the height for this element is the 90% porcent with respect on the full view
    background-image: url(../assets/heroImage.png);
    background-size: cover;
    background-position: top; 
    position: relative;
}

.hero-banner {
    margin-top: 20% !important;
    background-color: rgba(0, 0, 0, 50%);
    border-radius: 4px;
    color: $neutral-1;
    display: flex;
}

// Responsive
@media (max-width: $smallDevices) {
    .contact-buttons {
        display: none;
    }
}

@media (max-width: $mediumDevices) {
    .contact-buttons {
        display: none;
    }
}

@media (max-width: $largeDevices) {
    .contact-buttons {
        display: none;
    }
}